* {
  font-family:helvetica;
}
.title {
  background-color: slateblue;
  color: lavender;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.session {
  background-color:#E2D4EF;
  padding: 10px;
  margin-left: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.session-title { 
  padding: 5px;
  margin-left: 15px; 
  line-height: 30px;
}
.description {
  line-height: 25px;
  margin-left: 30px;
}
.summary {
  background-color: mistyrose;
  border-radius: 20px;
  padding: 20px;
}
.summary-title {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.summary-content {
  line-height: 30px;
  font-size: 20px;
  margin: 10px;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

span.code {
    background: #eee;
    padding: 5px;
    line-height: 15px;
    font-family: Sans serif;
    display: inline-block;
    margin-bottom: 5px;
}